* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body {
	background-image: url(../../fundo-cafe.jpg);
}

img {
	max-width: 100%;
	display: block;
}

button {
	cursor: pointer;
}

a {
	text-decoration: none;
}
